@media screen and (max-width: 600px) {

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}


.plus-jakarta-sans-{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    justify-content: center;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: auto;
    width: 100%;
    border-bottom: solid;
    border-color: black;
}

.centerpiece {
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    justify-content: center;
}

.links {
    display: flex;
    flex-flow: row;
    height: 40px;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

#pfp {
    width: 20%;
}

img
 {
    width: 15%;
}

#headimg {
    display: none;
}


#profilepic
 {
    width: 400px;
    margin-bottom: 10px;
    border-radius: 100px;
}


#largepfp {
    width: 100%;
    border-radius: 100px;
    margin-top: 0px
}

#largepfpmobile {
    width: 80%;
    border-radius: 100px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    border-top: solid;
    border-color: black;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;

}

.form-container {
    
}

.pfpname {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
}

.pfpcontainer {
    display: flex;
    justify-content: center;

}

.leftside {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    margin-left: 0px;
}



.rightside {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
}

.title {
    text-align: center;
}

.titleinside {
    text-align: center;
}

.previewtext {
    padding-left: 20px;
    padding-right: 20px;
}

.profileone {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-bottom: solid;
    border-color: black;
}


.profiletwo {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    border-bottom: solid;
    border-color: black;
}

.profilethree {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    border-bottom: solid;
    border-color: black;    
}

.profilefour {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    border-bottom: solid;
    border-color: black;    
}

.profilefive {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    border-bottom: solid;
    border-color: black;    
}

.banner {
    display: flex;
    justify-content: center;
}


.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: none;
}

.create {
    display: flex;
    flex-wrap: wrap;
}

.pic {

}

.discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picturename {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.signup {
    display: none;
    margin-top: 150px;
    margin-bottom: 240px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 500px;
    text-align: center;
}

.signupmobile {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
 
.leftinfo {
    display: none;
    margin-top: 150px;
    margin-bottom: 240px;
    margin-right: 50px;
    float: left;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 250px;
    text-align: left;
}

.leftinfomobile {
    margin-top: 10px;
    padding: 20px;
}

.lefttitle {
    text-align: center;
}

.rightinfo {
    display: none;
    margin-top: 150px;
    margin-bottom: 240px;
    margin-left: 50px;
    float: right;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 250px; 
    text-align: right;
}

.rightinfomobile {
    margin-top: 10px;
    padding: 20px;
}

.righttitle {
    text-align: center;
}


p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #a80d39;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    transition: all .2s ease-in-out;
}

h2:hover {
    transform: scale(1.1);
    transform-origin: left;
}


h3 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
    position: relative;
    color: black;
    font-size: 20px;
}

h3::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

h3:hover::after {
    transform: scaleX(1.0);
    transform-origin: bottom left;
}

h4 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
}
 
h5 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

h6 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
}

h7 {
    
}

h8 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

h9 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 22px;
}

h10 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}
 
 
input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 
button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #a80d39;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #9e0d39;
}

 
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    color: black;
    cursor: pointer;
    text-decoration: none;
}



.displayname {
    display: none;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 150px;
    width: 70.5%;
    margin-top: 0px;
    background-color: red;
}

.displaynamemobile {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100px;
}


.pass {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.pass:hover {
    transform: scale(1.3);
}

.passmobile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.matchmobile {
    width: 100%;
    display: flex;
    justify-content: center;
}

.largepic {
    display: none;
    flex-flow: row;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
}

.largepicmobile {
    width: 100%;
}

.piccontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.passmatch {
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

#passmobile {
    width: 30%;
}

#matchmobile {
    width: 30%;
}

.match {
    display: flex;
    width: 100%;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.match:hover {
    transform: scale(1.3);
}

.pfdetail {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;

}

.pfdetailmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailtop {
    display: none;
    flex-flow: row;
    width: 100%;
    justify-content: center;
}

.pfdetailtopmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailbottom {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.pfdetailbottommobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailtopleft {
    display: none;
    flex-flow: row;
}

.pfdetailtopleftmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailtopright {
    display: none;
    flex-flow: row;
}

.pfdetailtoprightmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailbottomleft {
    display: none;
    flex-flow: row;
}

.pfdetailbottomleftmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.pfdetailbottomright {
    display: none;
    flex-flow: row;
}

.pfdetailbottomrightmobile {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.description {
    display: flex;
    flex: flow;
    justify-content: space-evenly;
    margin-top: 30px;
}

.subtext {
    display: flex;
    flex: flow;
    justify-content: space-evenly;
}

.matchprofilestop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
    justify-content: space-evenly;
}

.matchprofilesbottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 60px;
    justify-content: space-evenly;    
}

.matchname {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.matchone {
    width: 40%;
    padding: 10px;
}
.matchtwo {
    width: 40%;
    padding: 10px;
}


#matchpfp {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .2s ease-in-out;
}

#matchpfp:hover {
    transform: scale(1.1);
}

}
